@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9254901961);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
header .item-nav {
  color: #1F2337;
  display: block;
  text-align: center;
  padding: 0.3vw 1.5vw 0vw;
  text-decoration: none;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .item-nav:hover {
  background-color: rgba(10, 17, 44, 0.7647058824);
  border-radius: 0.5vw;
  font-weight: 500;
  color: #fff9b7;
}

.header-index {
  position: sticky;
  background-color: rgba(28, 31, 49, 0.9254901961);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
.header-index .item-nav-index {
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 0.3vw 1.5vw 0vw;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-index .item-nav-index:hover {
  background-color: rgba(55, 58, 69, 0.6666666667);
  border-radius: 0.5vw;
  color: #fff9b7;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 10vw;
}

ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.navigation {
  border-color: rgb(0, 0, 0);
  border-width: 0 0 0.2vw 0;
  border-style: solid;
  padding: 0.2vw;
  position: relative;
}

.video-index {
  position: absolute;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.div-bienvenida {
  margin: 0 0 5vw;
  animation: fadein 3s;
}
.div-bienvenida .h1-index {
  padding: 14vw 0 0;
  font-size: 3vw;
  color: #ffffff;
  margin: 0;
}
.div-bienvenida .h1-index2 {
  padding: 0vw 0 0vw;
  color: #fff7b7;
  font-size: 4.5vw;
}
.div-bienvenida .flecha-index {
  margin: 12vw auto 0;
  justify-content: center;
  align-items: center;
  width: 4vw;
  display: flex;
}

.banner {
  width: 60vw;
  margin: 0 auto;
  display: block;
}

.banner-quienes_somos {
  filter: grayscale(100);
  transition: 0.5s;
}
.banner-quienes_somos:hover {
  filter: grayscale(0);
  transition: 0.5s;
  width: 61vw;
}

.img-models {
  width: 300px;
  margin: 1rem;
  transition: 0.5s;
  filter: brightness(100%) grayscale(0%);
}
.img-models:hover {
  width: 300px;
  transition: 0.5s;
  filter: brightness(70%) grayscale(100%);
}

.model {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw 0 0 0;
}

.img-model {
  width: 30vw;
  align-items: center;
  justify-content: center;
  margin: 4vw;
  display: block;
  border-radius: 0.5vw;
}

.img-model_var {
  width: 40vw;
  align-items: center;
  justify-content: center;
  margin: 4vw;
  display: block;
  border-radius: 0.5vw;
}

.model-variant {
  width: 4vw;
  border-radius: 0.3vw;
  margin: 1vw 1vw 1vw 0vw;
}

.img-biografia_left {
  width: 20vw;
  margin: 1.5vw 6vw;
  display: block;
}

.img-biografia_right {
  width: 20vw;
  margin: 1.5vw 6vw;
  display: block;
}

.img-404 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.25;
}

.img-mantenimiento {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  height: 400px;
  object-fit: cover;
  border-radius: 0vw;
}

.img-index {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 950px;
  height: 400px;
  object-fit: cover;
  border-radius: 0vw;
}

.img-recomendaciones {
  display: flex;
  justify-content: center;
  margin: 0 auto 4vw;
  width: 1200px;
  height: 400px;
  object-fit: cover;
  border-radius: 0vw;
}

p {
  text-align: left;
  font-size: 1.2vw;
  font-family: "EB Garamond", serif;
}

.p-general {
  text-align: left;
  font-size: 1.3vw;
  padding: 0 11vw;
  margin: 3vw 8vw;
  font-family: "EB Garamond", serif;
}

.p-biografia {
  text-align: left;
  font-size: 1.3vw;
  padding: 0px;
  margin: 2rem 5rem;
  font-family: "EB Garamond", serif;
  align-self: center;
  color: #ffffff;
}

.p-modelos {
  font-size: 1rem;
  text-align: center;
  margin: 3vw 2vw;
  box-sizing: content-box;
  height: 200px;
  padding: 2rem 0rem;
  align-items: center;
  display: flex;
}

.p-model {
  margin: 0 0 1vw;
  text-align: start;
}

.p-descripcion {
  text-align: left;
  font-size: 1.3vw;
  padding: 0px;
  margin: 2rem 5rem;
  font-family: "EB Garamond", serif;
  align-self: center;
}

.p-sub {
  text-align: center;
  font-size: 1.3vw;
  margin: 2vw 25vw 2vw;
  font-family: "EB Garamond", serif;
}

.p-mantenimiento {
  text-align: left;
  font-size: 1.3vw;
  padding: 0px;
  margin: 0 1rem;
  font-family: "EB Garamond", serif;
  align-self: center;
}

.p-aclaracion {
  text-align: left;
  font-size: 1.2vw;
  padding: 0px;
  margin: 0 1rem;
  font-family: "EB Garamond", serif;
  align-self: center;
  color: #848484;
}

.p-404 {
  text-align: center;
  font-size: 1.3vw;
  margin: 2vw 0vw 2vw;
  font-family: "EB Garamond", serif;
}

.p-recomendaciones {
  text-align: left;
  font-size: 1.3vw;
  padding: 0px;
  margin: 0 1rem;
  font-family: "EB Garamond", serif;
  align-self: center;
}

.div-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.div-section .linea-subtitulo {
  border-width: 0.3vw;
  width: 8vw;
  margin: 2.5vw;
  color: #1F2337;
  border-style: solid;
  opacity: 100;
}
.div-section .p-sub {
  text-align: center;
  font-size: 1.3vw;
  margin: 2vw 25vw 2vw;
  font-family: "EB Garamond", serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.container-notas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem 5rem 4rem;
}
.container-notas .notas-periodisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  flex: 1;
}
.container-notas .notas-periodisticas .logos-diarios {
  width: 8vw;
  margin: 0rem 1rem 0rem 1rem;
}
.container-notas .notas-periodisticas .p-notas {
  font-size: 1.1vw;
  text-align: center;
  margin: 2vw 1vw;
}
.container-notas .notas-periodisticas .p-lanacion {
  font-size: 1.1vw;
  text-align: center;
  margin: 4.5vw 1vw 4.4vw;
}
.container-notas .notas-periodisticas .p-natgeo {
  font-size: 1.1vw;
  text-align: center;
  margin: 3.5vw 1vw 3.7vw;
}

.div-button {
  margin: 3vw;
}

.div-button-nota {
  margin: 2rem 0;
}

.button-index {
  font-family: "Outfit", sans-serif;
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 0.2vw;
  color: rgb(0, 0, 0);
  padding: 1vw;
  text-decoration: none;
  font-size: 1vw;
  transition: 0.3s;
}
.button-index:hover {
  background-color: #1F2337;
  color: #ffffff;
  transition: 0.3s;
  padding: 1.3vw;
  font-size: 1.1vw;
}

.volver-button {
  font-family: "Outfit", sans-serif;
  color: #1F2337;
  display: block;
  text-align: left;
  margin: 1vw 2vw -3.5vw;
  padding: 0.5vw;
  text-decoration: none;
  font-size: 1vw;
}

.open-menu {
  display: none;
}

.close-menu {
  display: none;
}

.button-send {
  font-family: "Outfit", sans-serif;
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 0.2vw;
  color: rgb(0, 0, 0);
  padding: 1vw 3vw;
  margin: 1vw 0;
  text-decoration: none;
  font-size: 1vw;
  transition: 0.3s;
  border-radius: 0;
}
.button-send:hover {
  background-color: #1F2337;
  color: #ffffff;
  transition: 0.3s;
  border-color: #101225;
}

.button-slide {
  font-size: 3vw;
  border: none;
  background-color: transparent;
  padding: 0 8vw;
  margin: 0.5vw 0 0;
  color: #101225;
}

.form-style {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1vw solid #101225;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-contact {
  margin: 3vw 22vw;
  font-family: "EB Garamond", serif;
  font-size: 1.3vw;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.div-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.div-model {
  display: flex;
  justify-content: center;
  margin: 4vw 0;
}

.div-biografia {
  margin: 2rem 0rem;
}

hr {
  margin: 2rem 20rem;
}

.hr-white {
  color: #ffffff;
}

.linea-subtitulo {
  border-width: 0.3vw;
  width: 8vw;
  margin: 2.5vw;
  color: #1F2337;
  border-style: solid;
  opacity: 100;
}

.div-mantenimiento {
  margin: -4vw 0;
  flex-direction: row;
}

.div-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.div-img_index {
  margin: 2vw 0;
}

.slide-styles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-variant {
  justify-content: left;
}

.contenedor-biografia {
  margin: 0vw 10vw;
  padding: 4vw 0 2vw;
}

.contenedor-modelos {
  margin: 0vw 10vw;
  padding: 0vw 0 2vw;
}

.contenedor-mantenimiento {
  margin: 0vw 10vw;
  padding: 2vw 0 2vw;
}

.contenedor-recomendaciones {
  margin: 0vw 4vw 2vw;
  padding: 2vw 0 2vw;
}

.contenedor-aclaracion {
  display: flex;
  margin: 7vw 1vw;
  padding: 0vw 0 0vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.contenedor-404 {
  margin: 0;
  padding: 0 0 0;
  display: flex;
}

.container-var {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 4vw;
  margin: 0 0 2vw 0;
  font-family: "EB Garamond", serif;
}

.h1_quienes_somos {
  color: #ffffff;
}

.h1-model {
  text-align: center;
  font-size: 4vw;
  margin: 3vw 0 0 0;
}

h2 {
  color: #000000;
  margin: 40px 10px 40px;
  font-size: 1.5vw;
  text-align: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}

.h2-descripcion {
  text-align: left;
  margin: 1vw 0 5vw;
}

.h2-modelos {
  color: #000000;
  font-size: 1.4rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 0;
}

.h2-biografia {
  color: #fff7b7;
  font-size: 1.1vw;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 1vw;
}

.h2-model {
  margin: 0;
  text-align: start;
}

h3 {
  color: #000000;
  font-family: "Outfit", sans-serif;
  font-size: 1.5vw;
  text-align: center;
  letter-spacing: 0.3vw;
  margin: 3vw 0;
}

.h3-model {
  color: #595959;
  font-size: 1.1vw;
  text-align: center;
  margin: 0 0 2vw;
}

.model-titles {
  margin: auto 1rem;
  justify-content: center;
  align-items: center;
}

h4 {
  color: #000000;
  text-align: left;
  font-size: 3vw;
  margin: 0 0 2vw 2vw;
  font-family: "EB Garamond", serif;
}

.h4-right {
  color: #000000;
  text-align: right;
  font-size: 3vw;
  margin: 0 2vw 2vw 0;
  font-family: "EB Garamond", serif;
}

.h4-number {
  color: #e7e7e7;
  text-align: center;
  font-size: 20vw;
  font-family: "EB Garamond", serif;
}

.all-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue-section {
  margin: 3vw 0;
  padding: 0 0 3vw 0;
  background: rgb(36, 40, 65);
  background: linear-gradient(80deg, rgb(36, 40, 65) 0%, rgb(37, 41, 71) 26%, rgb(24, 27, 42) 73%, rgb(13, 14, 19) 100%);
}

footer {
  background-color: #1F2337;
  color: #fff;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer h3 {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 1.5vw;
  text-align: center;
  letter-spacing: 0.3vw;
  margin: 3vw 0;
}
footer .row-seguinos_ig {
  justify-content: center;
}
footer .row-seguinos_ig .h1-footer {
  color: white;
  display: flex;
  margin: 2vw -4vw 0 11vw;
  font-size: 2vw;
  justify-content: space-around;
  text-align: right;
}
footer .row-seguinos_ig .instagram-logo {
  width: 10vw;
  display: flex;
  margin: 1.5vw 15vw 0 0;
}
footer .p-footer {
  text-align: center;
  color: white;
  margin: 3vw 0 0 0;
}
footer .vertical-hr {
  margin: 1vw 0 0 0;
  border-left: thin solid #ffffff;
  left: 50%;
  position: absolute;
  width: 0;
  height: 16vw;
  align-self: center;
}
footer .row .footer-content {
  height: 50%;
  margin: 2vw 0 0 1vw;
}
footer .row .footer-content .p-footerinfo {
  color: white;
  text-align: left;
  margin: 0 0 1.5vw 4.5vw;
}
footer .row .footer-maps {
  margin: 0 3vw 0 0;
}
footer .derechos-reservados {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8vw;
  text-align: center;
  background-color: #101225;
  padding: 1vw 0;
  margin-top: 2vw;
  margin-bottom: 0;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  h1 {
    flex-direction: column;
    font-size: 170%;
  }
  h2 {
    margin: 40px 10px 40px;
    font-size: 3vw;
  }
  h3 {
    font-size: 80%;
  }
  .h2-biografia {
    color: #fff7b7;
    font-size: 2.5vw;
    text-align: center;
    font-family: "Outfit", sans-serif;
    margin: 1vw;
  }
  .model-titles {
    margin: 0 auto 10vw;
    font-size: 5vw;
  }
  .p-sub_biografia {
    flex-direction: column;
    font-size: 100%;
    margin: 1vw 0vw 3vw;
  }
  .p-general {
    text-align: left;
    font-size: 3.5vw;
    padding: 0 5vw;
    margin: 6vw 8vw;
  }
  .p-biografia {
    text-align: left;
    font-size: 3.5vw;
    padding: 0px;
    margin: 1vw 7vw;
    align-self: center;
  }
  .button-index {
    border-width: 0.5vw;
    padding: 3vw;
    font-size: 3vw;
  }
  .button-index:hover {
    background-color: #1F2337;
    color: #ffffff;
    transition: 0.3s;
    padding: 3vw;
    font-size: 3vw;
  }
  .div-button {
    margin: 10vw;
  }
  .volver-button {
    padding: 0.5vw;
    font-size: 3vw;
    margin: 2vw 2vw -3vw;
  }
  hr {
    border-width: 0.4vw;
    margin: 6.5vw 15vw 4.5vw;
  }
  .linea-subtitulo {
    border-width: 0.4vw;
    width: 10vw;
    margin: 2.5vw 0 3.5vw;
  }
  .banner {
    width: 70vw;
    margin: 0 auto;
    display: block;
  }
  .banner-quienes_somos {
    filter: grayscale(100);
    transition: 0.5s;
  }
  .banner-quienes_somos:hover {
    filter: grayscale(0);
    transition: 0.5s;
    width: 70vw;
  }
  .img-biografia_left {
    width: 50vw;
    margin: 4vw auto;
    display: block;
  }
  .img-biografia_right {
    width: 50vw;
    margin: 4vw auto;
    display: block;
  }
  .div-biografia {
    margin: 0rem;
    flex-direction: column;
  }
  .div-biografia2 {
    margin: 0rem;
    flex-direction: column-reverse;
  }
  .div-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw 1vw -5vw;
  }
  .div-section .p-sub {
    flex-direction: column;
    font-size: 100%;
    margin: 1vw 7vw 3vw;
  }
  .container-notas {
    flex-direction: column;
    margin: 3rem 5rem 3rem;
  }
  .container-notas .notas-periodisticas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0;
    flex: 1;
  }
  .container-notas .notas-periodisticas .logos-diarios {
    width: 25vw;
    margin: 3vw;
  }
  .container-notas .notas-periodisticas .p-notas {
    font-size: 3.5vw;
    text-align: center;
    margin: 5vw 0 5vw;
  }
  .container-notas .notas-periodisticas .p-lanacion {
    font-size: 3.5vw;
    text-align: center;
    margin: 5vw 0 5vw;
  }
  .container-notas .notas-periodisticas .p-natgeo {
    font-size: 3.5vw;
    text-align: center;
    margin: 5vw 0 5vw;
  }
  .div-button-nota {
    margin: 4vw 0 20vw;
  }
  footer .row {
    justify-content: center;
    flex-direction: column;
  }
  footer .row .h1-footer {
    color: white;
    display: flex;
    margin: 3vw 0vw 0 17vw;
    font-size: 6vw;
    align-items: center;
    text-align: center;
  }
  footer .row .instagram-logo {
    width: 60%;
    display: flex;
    margin: 2vw 0 0 -3vw;
    padding: 0vw 0vw 0vw 0vw;
    justify-self: center;
    object-fit: fill;
  }
  footer .row .p-footer {
    font-size: 3.5vw;
    margin: 5vw 0 0;
  }
  footer .row-seguinos_ig {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  footer h3 {
    font-size: 4vw;
    margin: 12vw 0 4vw;
  }
  footer .row .footer-content {
    height: 50%;
    margin: 2vw 0 0 1vw;
  }
  footer .row .footer-content .p-footerinfo {
    font-size: 4vw;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
  }
  footer .row .footer-maps {
    margin: 0 3vw 3vw 0;
  }
  footer .vertical-hr {
    visibility: hidden;
  }
  footer .row {
    flex-direction: column;
  }
  footer .derechos-reservados {
    font-size: 3vw;
    padding: 3vw;
    overflow: hidden;
  }
  .p-modelos {
    display: flex;
    font-size: 3.5vw;
    text-align: center;
    margin: 2rem 0rem;
    box-sizing: content-box;
    height: 200px;
    align-items: center;
  }
  .youtube-vid {
    width: 75vw;
    height: 40vw;
  }
  .div-youtube {
    margin: 0 0 6vw;
  }
  .logo {
    width: 25vw;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 0 7rem;
  }
  .div-biografia {
    flex-direction: column;
  }
  .img-model {
    margin: 3vw auto 0vw;
    width: 70vw;
    justify-content: center;
  }
  .h1-model {
    font-size: 250%;
    text-align: center;
  }
  .h2-model {
    font-size: 4vw;
    margin: 0 0 1vw;
    text-align: center;
  }
  .h3-model {
    font-size: 3vw;
    text-align: center;
  }
  .p-model {
    font-size: 3.5vw;
    margin: 3vw 0 4vw;
    text-align: center;
  }
  .div-model {
    margin: 6vw 0;
  }
  .model-variant {
    width: 10vw;
  }
  .container-variant {
    justify-content: center;
  }
  .video-intro {
    margin: 0 0 3vw;
  }
  .video-intro .video-index {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .video-intro .div-bienvenida {
    margin: 0 0 10vw;
    animation: fadein 3s;
  }
  .video-intro .div-bienvenida .h1-index {
    padding: 14vw 0 0;
    font-size: 3vw;
    color: #ffffff;
    margin: 0;
  }
  .video-intro .div-bienvenida .h1-index2 {
    padding: 0vw 0 0vw;
    color: #fff7b7;
    font-size: 4.5vw;
  }
  .contenedor-modelos {
    margin: 0vw 10vw;
    padding: 6vw 0 2vw;
  }
  .form-contact {
    margin: 3vw 22vw;
    font-family: "EB Garamond", serif;
    font-size: 3.5vw;
  }
  .button-send {
    border-width: 0.5vw;
    padding: 3vw 20.5vw;
    font-size: 3vw;
    margin: 2vw 0 4vw;
  }
  .p-mantenimiento {
    font-size: 3.5vw;
    margin: 6vw 1rem 2vw;
  }
  .p-aclaracion {
    font-size: 3.5vw;
    margin: 6vw 1rem 2vw;
  }
  h4 {
    font-size: 5vw;
    margin: 2vw 0 4vw;
  }
  .h4-right {
    font-size: 5vw;
    margin: 2vw 0 0;
  }
  .h4-number {
    font-size: 30vw;
    margin: 0 2vw 0 0;
    padding: 0 0 0 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor-404 {
    flex-direction: column;
  }
  .div-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .p-404 {
    text-align: center;
    font-size: 2.5vw;
    margin: 2vw 0vw 2vw;
  }
  .open-menu {
    display: block;
    border: 0;
    margin: 0 0 0 4vw;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
  }
  .close-menu {
    display: block;
    border: 0;
    margin: 3vw 0 0 4vw;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
  }
  .navigation {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1F2337;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .nav-logo {
    display: flex;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
  }
  .item-nav-index {
    padding: 4.3vw 2.5vw 4vw !important;
  }
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  .img-mantenimiento {
    display: flex;
    justify-content: center;
    margin: 8vw auto 1vw;
    width: 325px;
    height: 170px;
    object-fit: cover;
    border-radius: 1vw;
  }
  .img-index {
    display: flex;
    justify-content: center;
    margin: 1vw auto 5vw;
    width: 325px;
    height: 170px;
    object-fit: cover;
  }
  .button-slide {
    font-size: 7vw;
    padding: 0 8vw;
    margin: -1vw 0 0;
  }
  .contenedor-recomendaciones {
    margin: 0vw 4vw 2vw;
    padding: 2vw 0 2vw;
  }
  .p-recomendaciones {
    display: flex;
    text-align: left;
    font-size: 3.5vw;
    padding: 0px;
    margin: 0 3vw 0 3vw;
    font-family: "EB Garamond", serif;
    align-self: center;
    justify-content: center;
  }
  .slide-styles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .h4-recomendaciones {
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
  }
  .img-recomendaciones {
    display: flex;
    justify-content: center;
    margin: 8vw auto;
    width: 325px;
    height: 170px;
    object-fit: cover;
    border-radius: 1vw;
  }
  html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
  .container-var {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  .img-model_var {
    width: 70vw;
    align-items: center;
    justify-content: center;
    margin: 4vw;
    display: block;
    border-radius: 0.5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    flex-direction: column;
    font-size: 260%;
  }
  h2 {
    margin: 40px 10px 40px;
    font-size: 3vw;
  }
  h3 {
    font-size: 120%;
  }
  .h2-biografia {
    color: #fff7b7;
    font-size: 2.5vw;
    text-align: center;
    font-family: "Outfit", sans-serif;
    margin: 1vw;
  }
  .model-titles {
    margin: 0 auto 10vw;
    font-size: 3vw;
  }
  .p-sub_biografia {
    flex-direction: column;
    font-size: 2vw;
    margin: 1vw 0vw 3vw;
  }
  .p-general {
    text-align: left;
    font-size: 2.5vw;
    padding: 0 5vw;
    margin: 6vw 8vw;
  }
  .p-biografia {
    text-align: left;
    font-size: 2.5vw;
    padding: 0px;
    margin: 1vw 7vw;
    align-self: center;
  }
  .button-index {
    border-width: 0.5vw;
    padding: 2vw;
    font-size: 2vw;
  }
  .button-index:hover {
    background-color: #1F2337;
    color: #ffffff;
    transition: 0.3s;
    padding: 2.3vw;
    font-size: 2.3vw;
  }
  .div-button {
    margin: 10vw;
  }
  .volver-button {
    padding: 0.5vw;
    font-size: 2vw;
    margin: 2vw 2vw -3vw;
  }
  hr {
    border-width: 0.4vw;
    margin: 6.5vw 15vw 4.5vw;
  }
  .linea-subtitulo {
    border-width: 0.4vw;
    width: 10vw;
    margin: 2.5vw 0 3.5vw;
  }
  .banner {
    width: 70vw;
    margin: 0 auto;
    display: block;
  }
  .banner-quienes_somos {
    filter: grayscale(100);
    transition: 0.5s;
  }
  .banner-quienes_somos:hover {
    filter: grayscale(0);
    transition: 0.5s;
    width: 70vw;
  }
  .img-biografia_left {
    width: 50vw;
    margin: 4vw auto;
    display: block;
  }
  .img-biografia_right {
    width: 50vw;
    margin: 4vw auto;
    display: block;
  }
  .div-biografia {
    margin: 0rem;
    flex-direction: column;
  }
  .div-biografia2 {
    margin: 0rem;
    flex-direction: column-reverse;
  }
  .div-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw 1vw -5vw;
  }
  .div-section .p-sub {
    flex-direction: column;
    font-size: 2vw;
    margin: 2vw 7vw 2vw;
  }
  .container-notas {
    flex-direction: column;
    margin: 3rem 5rem 3rem;
  }
  .container-notas .notas-periodisticas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0;
    flex: 1;
  }
  .container-notas .notas-periodisticas .logos-diarios {
    width: 25vw;
    margin: 3vw;
  }
  .container-notas .notas-periodisticas .p-notas {
    font-size: 2vw;
    text-align: center;
    margin: 5vw 0 5vw;
  }
  .container-notas .notas-periodisticas .p-lanacion {
    font-size: 2vw;
    text-align: center;
    margin: 5vw 0 5vw;
  }
  .container-notas .notas-periodisticas .p-natgeo {
    font-size: 2vw;
    text-align: center;
    margin: 5vw 0 5vw;
  }
  .div-button-nota {
    margin: 4vw 0 20vw;
  }
  footer .row {
    justify-content: center;
    flex-direction: column;
  }
  footer .row .h1-footer {
    color: white;
    display: flex;
    margin: 3.5vw 0vw 0 33vw;
    font-size: 3vw;
    align-items: center;
    text-align: center;
  }
  footer .row .instagram-logo {
    width: 30%;
    display: flex;
    margin: 3vw -2vw 0vw;
    padding: 0vw 0vw 0vw 0vw;
    justify-self: center;
    object-fit: fill;
  }
  footer .row .p-footer {
    font-size: 2vw;
    margin: 5vw 0 0;
  }
  footer .derechos-reservados {
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.8vw;
    text-align: center;
    background-color: #101225;
    padding: 1vw 0;
    margin-top: 2vw;
    margin-bottom: 0;
  }
  footer .row-seguinos_ig {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  footer h3 {
    font-size: 3vw;
    margin: 10vw 0 1vw;
  }
  footer .row .footer-content {
    height: 50%;
    margin: 2vw 0 0 1vw;
  }
  footer .row .footer-content .p-footerinfo {
    font-size: 2vw;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
  }
  footer .row .footer-maps {
    margin: 0 3vw 3vw 0;
  }
  footer .vertical-hr {
    visibility: hidden;
  }
  footer .row {
    flex-direction: column;
  }
  footer .derechos-reservados {
    font-size: 1.5vw;
    padding: 3vw;
  }
  .p-modelos {
    display: flex;
    font-size: 2.5vw;
    text-align: center;
    margin: 2rem 0rem;
    box-sizing: content-box;
    height: 200px;
    align-items: center;
  }
  .youtube-vid {
    width: 75vw;
    height: 40vw;
  }
  .div-youtube {
    margin: 0 0 6vw;
  }
  .logo {
    width: 15vw;
    margin: 0 auto;
  }
  .div-biografia {
    flex-direction: column;
  }
  .img-model {
    margin: 3vw auto 0vw;
    width: 70vw;
    justify-content: center;
  }
  .h1-model {
    font-size: 250%;
    text-align: center;
  }
  .h2-model {
    font-size: 4vw;
    margin: 0 0 1vw;
    text-align: center;
  }
  .h3-model {
    font-size: 3vw;
    text-align: center;
  }
  .p-model {
    font-size: 3.5vw;
    margin: 3vw 0 4vw;
    text-align: center;
  }
  .div-model {
    margin: 6vw 0;
  }
  .model-variant {
    width: 10vw;
  }
  .container-variant {
    justify-content: center;
  }
  .video-intro {
    margin: 0 0 3vw;
  }
  .video-intro .video-index {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .video-intro .div-bienvenida {
    margin: 0 0 10vw;
    animation: fadein 3s;
  }
  .video-intro .div-bienvenida .h1-index {
    padding: 14vw 0 0;
    font-size: 3vw;
    color: #ffffff;
    margin: 0;
  }
  .video-intro .div-bienvenida .h1-index2 {
    padding: 0vw 0 0vw;
    color: #fff7b7;
    font-size: 4.5vw;
  }
  .contenedor-modelos {
    margin: 0vw 10vw;
    padding: 6vw 0 2vw;
  }
  .form-contact {
    margin: 3vw 22vw;
    font-family: "EB Garamond", serif;
    font-size: 2.5vw;
  }
  .button-send {
    border-width: 0.5vw;
    padding: 2vw 6vw;
    font-size: 2vw;
    margin: 2vw 0 4vw;
  }
  .p-mantenimiento {
    font-size: 2vw;
    margin: 6vw 1rem 2vw;
  }
  .p-aclaracion {
    font-size: 2vw;
    margin: 6vw 1rem 2vw;
  }
  h4 {
    font-size: 3vw;
    margin: 2vw 0;
  }
  .h4-right {
    font-size: 3vw;
    margin: 2vw 0 0;
  }
  .h4-number {
    font-size: 30vw;
    margin: 0 2vw 0 0;
    padding: 0 0 0 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor-404 {
    flex-direction: column;
  }
  .div-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .p-404 {
    text-align: center;
    font-size: 2vw;
    margin: 2vw 0vw 2vw;
  }
  .img-mantenimiento {
    display: flex;
    justify-content: center;
    margin: 8vw auto 1vw;
    width: 750px;
    height: 300px;
    object-fit: cover;
    border-radius: 1vw;
  }
  .img-index {
    display: flex;
    justify-content: center;
    margin: 1vw auto 4vw;
    width: 750px;
    height: 300px;
    object-fit: cover;
  }
  .button-slide {
    font-size: 5vw;
    padding: 0 10vw;
    margin: -0.5vw 0 0;
  }
  .contenedor-recomendaciones {
    margin: 0vw 4vw 2vw;
    padding: 1vw 0 1vw;
  }
  .p-recomendaciones {
    display: flex;
    text-align: left;
    font-size: 2vw;
    padding: 0px;
    margin: 0 3vw 0 3vw;
    font-family: "EB Garamond", serif;
    align-self: center;
    justify-content: center;
  }
  .slide-styles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .h4-recomendaciones {
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
  }
  .img-recomendaciones {
    display: flex;
    justify-content: center;
    margin: 8vw auto;
    width: 750px;
    height: 300px;
    object-fit: cover;
    border-radius: 1vw;
  }
}
.estilo-x {
  font-size: calc(1em + 1vw);
}

body {
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
}

.youtube-vid {
  width: 50vw;
  height: 28vw;
  margin-bottom: 3vw;
}

.inline-flex {
  display: inline-flex;
}

.fit-content {
  width: fit-content;
  margin: 0 auto;
}
.container-var {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.img-model_var {
  width: 70vw;
  align-items: center;
  justify-content: center;
  margin: 4vw;
  display: block;
  border-radius: 0.5vw;
}

/*# sourceMappingURL=style.css.map */
