.container-variant{
    justify-content: left;
}

.contenedor-biografia{
    margin: 0vw 10vw;
    padding: 4vw 0 2vw;
}

.contenedor-modelos{
    margin: 0vw 10vw;
    padding: 0vw 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    border: 0;
}

.contenedor-tipo_modelos{
    margin: 0vw 10vw;
    padding: 0vw 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    border: 0;
}


.contenedor-mantenimiento{
    margin: 0vw 10vw;
    padding: 2vw 0 2vw;
}

.contenedor-recomendaciones{
    margin: 0vw 4vw 2vw;
    padding: 2vw 0 2vw;
}

.contenedor-aclaracion{
    display: flex;
    margin: 7vw 1vw;
    padding: 0vw 0 0vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-around
}

.contenedor-404{
    margin: 0;
    padding: 0 0 0;
    display: flex;
}

.container-var{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border: 0;
}

.model-carousel{
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    aspect-ratio: 25/9;
    object-fit: cover;
}

.carousel-modelos{
    border-radius: 0.4vw;
}

.carousel-caption{
    display: flex !important;
    flex-direction: column !important;
    margin: 8vw auto !important;
    justify-content: center !important;
}

.container-tipo_modelos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    flex: 1;
}

.container-info_modelos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 5rem;
    background-color: #ffffff;
    border: 0;

    .notas-periodisticas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        flex: 1;
    }
}

.card-frecuentes{
    border-radius: 0.6vw;
    margin: 1vw;
    box-shadow: 0px 0px 0px 3px rgb(45 48 64);
    border: 2px;
}

.card-frecuentes2{
    padding: 0.5rem 0rem;
    background-color: rgba(28, 31, 49, 0.9254901961);
    border-radius: 0.5vw !important;
}