.div-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.div-model{
    display: flex;
    justify-content: center;
    margin: 2vw 3vw 4vw;
}

.div-biografia{
    margin: 2rem 0rem;
}

hr{
    margin: 2rem 20rem;
}

.hr-white{
    color: #ffffff;
}

.linea-subtitulo{
    border-width: 0.3vw;
    width: 8vw;
    margin: 2.5vw;
    color: #1F2337;
    border-style: solid;
    opacity: 100;
}

.div-mantenimiento{
    margin: -4vw 0;
    flex-direction: row;
}

.div-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.div-img_index{
    margin: 2vw 0;
}

.slide-styles{
    display: flex;
    flex-direction: row;
    justify-content: center;
}