.div-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.div-model{
    display: flex;
    justify-content: center;
    margin: 2vw 3vw 4vw;
}

.div-biografia{
    margin: 0 0;
}

hr{
    margin: 2rem 20rem;
}

.hr-white{
    color: #ffffff;
}

.linea-subtitulo{
    border-width: 0.3vw;
    width: 8vw;
    margin: 2.5vw;
    color: #1F2337;
    border-style: solid;
    opacity: 100;
}

.div-mantenimiento{
    margin: -4vw 0;
    flex-direction: row;
}

.div-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.div-img_index{
    margin: 2vw 0;
}

.slide-styles{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-model_type_texts{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vw;
}

.div-acordion_filters{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-acerca_de_texts{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9.5vw;
}

.div-nuestro_trabajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vw 2vw;
}

.carousel-pages [data-bs-target] {
    background-color: #7c7c7c !important;
    opacity: .4 !important;
    width: 17px !important;
    height: 2px !important;
    margin-bottom: 0rem !important;
}

.carousel-pages .active {
    opacity: 0;
    background-color: #000000 !important;
    margin-bottom: 0 !important;

}