header{
    position: sticky;
    z-index: 1000;
    top: 0;

    .item-nav{
        color: #ffffff;
        display: block;
        text-align: center;
        padding: 0.3vw 1.5vw 0vw;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &:hover{
            background-color: #373a45aa;
            border-radius: 0.5vw;
            color: #fff9b7;
        }
    }
}

.logo{
    margin: 0 auto;
    display: block;
    width: 10vw;
}

ul{
    color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.navigation{
    border-color: rgb(0, 0, 0);
    border-width: 0 0 0.2vw 0;
    border-style: solid;
    padding: 0.2vw;
    position: relative;
}

.background-header{
    background-color: #1c1f31ec;
    backdrop-filter: blur(5px);
}




