p{
    text-align: left;
    font-size: 1.2vw;
    font-family: 'EB Garamond', serif;
}
.p-general{
    text-align: left;
    font-size: 1.3vw;
    padding:  0 11vw;
    margin: 3vw 8vw;
    font-family: 'EB Garamond', serif;
}

.p-general_center{
    text-align: center;
    font-size: 1.3vw;
    padding:  0 11vw;
    margin: 3vw 8vw;
    font-family: 'EB Garamond', serif;
}

.p-biografia{
    text-align: left;
    font-size: 1.3vw;
    padding:  0px;
    margin: 2rem 5rem;
    font-family: 'EB Garamond', serif;
    align-self: center;
    color: #ffffff;
}

.p-modelos {
    font-size: 1rem;
    text-align: center;
    margin: 3vw 2vw;
    box-sizing: content-box;
    height: 200px;
    padding: 2rem 0rem;
    align-items: center;
    display: flex;
}

.p-info_modelos {
    font-size: 1rem;
    text-align: center;
    margin: 0vw 2vw;
    box-sizing: content-box;
    height: 200px;
    padding: 2rem 0rem;
    align-items: center;
    display: flex;
}

.p-model{
    margin: 0 0 1vw; 
    text-align: start;
}

.p-descripcion{
    text-align: left;
    font-size: 1.3vw;
    padding:  0px;
    margin: 2rem 5rem;
    font-family: 'EB Garamond', serif;
    align-self: center;
}

.p-sub{
    text-align: center;
    font-size: 1.3vw;
    margin: 2vw 25vw 2vw;
    font-family: 'EB Garamond', serif;
}

.p-mantenimiento{
    text-align: left;
    font-size: 1.3vw;
    padding:  0px;
    margin: 0 1rem;
    font-family: 'EB Garamond', serif;
    align-self: center;
}

.p-aclaracion{
    text-align: left;
    font-size: 1.2vw;
    padding:  0px;
    margin: 0 1rem;
    font-family: 'EB Garamond', serif;
    align-self: center;
    color: #848484;
}

.p-404{
    text-align: center;
    font-size: 1.3vw;
    margin: 2vw 0vw 2vw;
    font-family: 'EB Garamond', serif;
}

.p-recomendaciones{
    text-align: left;
    font-size: 1.3vw;
    padding:  0px;
    margin: 0 1rem;
    font-family: 'EB Garamond', serif;
    align-self: center;
}

.aclaracion-colores{
    font-size: 1.2vw;
    font-style: italic;
    color: rgb(124 124 124);
}

.p-preguntas{
    font-size: 1.3vw;
    font-family: 'EB Garamond', serif;
    color: rgb(255, 255, 255);
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 83vw;

    &:hover{
        color: #fff9b7;
    }
}

.p-respuestas{
    text-align: center;
    font-size: 1.3vw;
    font-family: 'EB Garamond', serif;
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
}

.p-preguntas_frecuentes{
    text-align: center;
    font-size: 1.3vw;
    font-family: 'EB Garamond', serif;
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    margin: 1vw 3vw;
}

.link_instagram{
    margin: none;
}