.all-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-section{
    margin: 3vw 0;
    background: rgb(36,40,65);
    background: linear-gradient(80deg, rgba(36,40,65,1) 0%, rgba(37,41,71,1) 26%, rgba(24,27,42,1) 73%, rgba(13,14,19,1) 100%);
}