h1{
    color: #000000;
    text-align: center;
    font-size: 4vw;
    margin: 0 0 2vw 0;
    font-family: 'EB Garamond', serif;
}

.h1_quienes_somos{
    color: #ffffff;
}

.h1-model{
    text-align: center;
    font-size: 4vw;
    margin: 3vw 0 0 0;  
}

h2{
    color: #000000;
    margin: 40px 10px 40px;
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.h2-descripcion{
    text-align: left;
    margin: 1vw 0  5vw;
}

.h2-modelos{
    color: #000000;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.h2-biografia{
    color: #fff7b7;
    font-size: 1.1vw;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 1vw;
}

.h2-model{
    margin: 0;
    text-align: start;
}

h3{
    color: #000000;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 0.3vw;
    margin: 3vw 0;
}

.h3-model{
    color: #595959;
    font-size: 1.1vw;
    text-align: center;
    margin: 0 0 2vw;
}

.model-titles{
    margin: auto 1rem;
    justify-content: center;
    align-items: center;
}